@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap");

.register-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddbdb;
    opacity: 0.9;
    color: #142d4c;
    font-family: "Montserrat";
    height: 85vh;
    width: 30rem;
    filter: drop-shadow(0 0 0.75rem black);
    border-radius: 25px;
}
#welcome {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    z-index: 1;
}
input {
    font-family: "Montserrat";
    padding: 0.3rem;
    margin: 0.3rem;
    width: 25rem;
    height: 10rem;
}
p {
    text-decoration: none;
    color: black;
    padding: 4px;
}
h1 {
    font-family: "Inconsolata";
    font-size: 50px;
    padding: 0px;
    margin: 0 auto;
}
img {
    padding-bottom: 3px;
}
h5 {
    font-family: "Montserrat";
    color: #142d4c;
    font-size: 20px;
}
Logo {
    opacity: 1;
}
