main {
    background-color: #fafafa;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
/* .welcome-container {
    width: 80rem;
} */
.register-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 3rem;
    color: #ff7e67;
    font-family: "Corbel" sans-serif;
}
input {
    font-family: "Corbel" sans-serif;
    padding: 0.3rem;
    margin: 0.3rem;
}
h1 {
    font-family: "Corbel" sans-serif;
    font-size: 34px;
}
